.aboutHero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 1.5rem;
	h1 {
		margin-top: 2rem;
		margin-bottom: 4rem;
		font-size: 3.5rem;
	}

	img {
		max-width: 100%;
	}

	p {
		max-width: 62.5rem;
		text-align: center;
		margin-top: 2rem;
		font-size: $font-lg;
		line-height: 1.75rem;
	}
}
