html,
body,
div,
button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  line-height: 1rem;
  letter-spacing: 0.05rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#000000, transparent);
}

// Visibility
.hide-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-desktop {
  @include breakpoint-up(large) {
    display: none !important;
  }
}

// Media @ 640px, 1024px, 1400px
@media (max-width: 1024px) {
  .header {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .submenu {
    margin-right: 2rem !important;
  }
}
