.social {
	text-align: center;
	background-color: #e5e5e5;
	padding: 1rem 2rem;
	min-height: 50vh;

	h1 {
		font-family: $secondaryFont;
		font-size: 4.8125rem;
	}

	h3 {
		font-family: $altFont;
		font-size: $font-lg;
	}

	img {
		width: 17.8rem;
		height: 17.8rem;
		margin: 0.5rem;
	}
}
