.social {
	text-align: center;
	background-color: #e5e5e5;
	min-height: 50vh;
	padding: 2rem;

	h1 {
		text-align: center;
		line-height: 4rem;
		margin-top: 5rem;
		font-family: $secondaryFont;
		font-size: 7.5rem;
	}

	a {
		margin-top: 1.5rem;
		margin-bottom: 2rem;
		font-family: $altFont;
		font-size: $font-lg;
	}

	&__grid {
		img {
			width: 17.8rem;
			height: 17.8rem;
			padding: 1rem;
			transition: all 200ms ease-in-out;

			&:hover {
				transform: scale(1.009);
				cursor: pointer;
				box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
			}
		}
	}
}
