.social {
	text-align: center;
	background-color: #e5e5e5;
	min-height: 50vh;
	padding: 2rem;

	h1 {
		text-align: center;
		line-height: 4rem;
		margin-top: 5rem;
		font-family: $secondaryFont;
		font-size: 7.5rem;
	}

	h3 {
		margin-top: 1.5rem;
		margin-bottom: 2rem;
		font-family: $altFont;
		font-size: $font-lg;
	}

	&__grid {
		img {
			width: 17.8rem;
			height: 17.8rem;
			padding: 1rem;
		}
	}
}
