.submenu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin-right: 2rem;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);

  &__mobile {
    > a {
      &:first-child {
        margin-right: 1.5rem;
      }
    }
  }

  &__desktop {
    color: #fff;
    font-size: $font-sm;
    transition: all 200ms ease-in-out;

    &:hover {
      color: #fff;
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  &__icons {
    color: #fff;
    font-size: $font-sm;
    transition: all 200ms ease-in-out;
  }
}
