.team {
	text-align: center;
	padding: 2rem 1.5rem;
	h1 {
		margin-top: 2rem;
		margin-bottom: 4rem;
		font-size: 3.5rem;
	}

	&__text {
		h4 {
			margin-top: 1rem;
			font-size: $font-med;
		}

		p {
			margin-top: 1rem;
			max-width: 16.875rem;
			font-size: $font-sm;
		}
	}

	img {
		width: 18.75rem;
		height: 394px;
		object-fit: cover;
		padding: 1rem;
	}
}
