@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Playfair+Display:ital@0;1&family=Roboto:wght@400;500;700&display=swap');

// Colors

// Fonts
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'La Belle Aurore', cursive;
$altFont: 'Playfair Display', serif;

// Font Sizes
$font-xs: 0.6875rem; //11px
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.3125rem; //21px
$font-xl: 1.625rem; //26px
$font-xxl: 2rem; //32px
